## importing the require libraries

In [27]:
import numpy as np
import pandas as pd
from apyori import apriori

In [28]:
data = pd.read_csv('Days.csv',header=None)

In [29]:
data

        0      1      2       3     4      5
0    Wine  Chips  Bread  Butter  Milk  Apple
1   Wine     NaN  Bread  Butter  Milk    NaN
2     NaN    NaN  Bread  Butter  Milk    NaN
3     NaN  Chips    NaN     NaN   NaN  Apple
4    Wine  Chips  Bread  Butter  Milk  Apple
5    Wine  Chips    NaN     NaN  Milk    NaN
6    Wine  Chips  Bread  Butter   NaN  Apple
7    Wine  Chips    NaN     NaN  Milk    NaN
8    Wine    NaN  Bread     NaN   NaN  Apple
9    Wine    NaN  Bread  Butter  Milk    NaN
10    NaN  Chips  Bread  Butter   NaN  Apple
11   Wine    NaN    NaN  Butter  Milk  Apple
12   Wine  Chips  Bread  Butter  Milk    NaN
13   Wine    NaN  Bread     NaN  Milk  Apple
14   Wine    NaN  Bread  Butter  Milk  Apple
15   Wine  Chips  Bread  Butter  Milk  Apple
16    NaN  Chips  Bread  Butter  Milk  Apple
17    NaN  Chips    NaN  Butter  Milk  Apple
18   Wine  Chips  Bread  Butter  Milk  Apple
19   Wine    NaN  Bread  Butter  Milk  Apple
20   Wine  Chips  Bread     NaN  Milk  Apple
21    NaN  Chips    NaN     NaN   NaN    NaN

In [30]:
data.shape

(22, 6)

In [31]:
#Convert the pandas dataframe into a list
records = []
for i in range(0,22):
    records.append([str(data.values[i,j]) for j in range(0,6)])

In [32]:
#Build the Apriori model

In [33]:
association_rules = apriori(records, min_support=0.50, min_confidence=0.7, min_lift=1.2, min_length=2)
association_results = list(association_rules)

In [34]:
# print the number of rules
print(len(association_results))

1

In [35]:
#Glancing at the first rule
print(association_results)

[RelationRecord(items=frozenset({'Bread', 'Milk', 'Butter'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Butter'}), items_add=frozenset({'Bread', 'Milk'}), confidence=0.7333333333333334, lift=1.241025641025641), OrderedStatistic(items_base=frozenset({'Bread', 'Milk'}), items_add=frozenset({'Butter'}), confidence=0.8461538461538461, lift=1.241025641025641)])]